* {
  margin: 0;
  padding: 0; }

/*
.container{
height: 1080px;
background-image: url(https://technext.github.io/chariteam/img/carousel-2.jpg);
background-repeat: no-repeat;
background-size: cover;
display: grid;
grid-template-areas: "c1, c2, c3";
grid-template-rows: 100px, 1fr, 1fr;
}



.container{
    height: 100%;
    width: 100%;
    display: grid;
    grid-template-areas: "c1, c2, c3";
    grid-template-rows: 100px, 1fr, 1fr;
    position: relative;
   
}
*/
.home {
  background-image: url(https://technext.github.io/chariteam/img/carousel-2.jpg);
  background-repeat: no-repeat;
  background-size: cover; }

.container {
  display: grid;
  grid-template-areas: "c1, c2, c3";
  grid-template-rows: 100px, 1fr, 1fr; }
