body{
    margin:0;
}

.container{
    background-color: #034f84;
    padding: 20px;
    display: grid;
    /* grid-template-columns: 200px 100px 150px 1fr; */
    grid-template-columns: 1fr 2fr 1fr 1fr;
}
.item{
    background-color: #f7786b;
    padding: 20px;
    margin: 20px;
    color:#fff;
    font-size: 25px;
}