

$primary-color: #FF6F0F;
$secondary-color: #001D23;
$light-primary-background-color: #FFF0E6;
$light-secondary-background-color: #F8F8F9;

$light-title-text-color: $secondary-color;
$light-content-text-color: #787878;

$dark-title-text-color: #fff;
$dark-content-text-color: rgba(255,255,255,.5);