* {
    margin:0;
    padding:0;
    
}

$bgColor: rgb(238, 238, 238);

.container {
display:grid;
grid-template-areas: "header, section1, section2, footer";
grid-template-rows: 50px 8fr 3fr 1fr;
}

.image {
width:10%;
justify-content: flex-start;
padding:10px;
}

.header{
background-color:$bgColor;
display: flex;
}


.img1 {
    width:150px;
    height: 150px; 
    border-radius: 50%; 
    border: 6px solid #20baca;
   }

.section1 {
    margin-top: 100px;
    width: 100%;
   
}

.profil {
display: flex;
flex-direction: column;
justify-content: center;
align-items: center;
gap:10px;
}

h1 {
    font-size: 50px;
}
p {
    font-size: 20px;
}

a {
    text-decoration: underline;
   color: black;
}
a:hover {
    color: #20baca
}

.ikonlar {
 display: flex;
 justify-content: space-around;
 align-items: center;
 margin-top: 40px;
 margin-left: 120px;
 margin-right: 120px;
 background-color: white;
 position:relative;
 top:20px;

 .ikon {
    font-size: 70px;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 150px;  
    width: 150px;
    background-color:#20baca ;
    border-radius: 50%;

 }
}


@mixin kutu($w,$h,$backgroundColor,$borderRadius) {
    width: $w;
    height: $h;
    background-color: $backgroundColor;
    border-radius: $borderRadius;
}

.ikon {
    @include kutu(150px,150px,#20baca, 50%)
}


.section2 {
    margin-top: 20px;
    background-color: #20baca;
}

.box1 {
    display: flex;
    flex-direction: column;
    justify-content: center;
}
