*{
    padding: 0%;
    margin: 0%;
    box-sizing: border-box;
}
.container{
    width: 75%;
    height: 400px;
    margin: 0 auto;
    background-color: grey;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly;
}
.box{
    width:100px ;
    border: 1px solid black;
    background: aquamarine;
}
.box2{
    /*align-self:flex-start;
    flex-grow: 2;*/
    order: 1;
}
.box3{
    order: 2;
    
}
.box1{
    order: 3;
}