h1 {
  text-align: center;
}
p {
  letter-spacing: 3px;
}
span {
  text-decoration: line-through;
}
body {
  font-family: 'Oswald', sans-serif;
}

i{
    color: brown;
}

/* Psuedo Class */

.link{
    font-size: 24px;
    
}
.link:hover{
    color:red;
    font-size: 32px;
    font-weight: 700;
}
.link:visited{
    color:orangered;
}
.link:active{
    color:greenyellow;
}
.link:link{
    color:deeppink;
}

li:first-child{
    color:blue;
}
li:last-child{
    color: blue;
}
li:nth-child(even){
    background-color: gray;
}

/* Pseudo Elements */

.text::first-line{
    color:pink
}
.text::after{
    content: "Paragraf sonrası deneme yazısı";
    color:red;
}
.text::before{

    content: "Paragraf öncesi deneme yazısı";
    color:green;
}
.text::first-letter{
    font-size:48px;
}
table,tr,td,th{
    border: 1px solid black;
    border-collapse: collapse; /* Borderın arasındaki boşlukları almak için */

}
table{
    width: 50%;
    margin: 0 auto;
}
th,td{
    padding:10px;
}
thead tr{
    background: #c2c0c0;
}

tbody tr{
    text-align: center;
}

tbody tr:nth-child(odd){
    background-color: bisque;
}
tbody tr:hover{
    background-color: #3c3c3c;
    color:white;
    cursor: pointer;
}

