body {
    font-family: "Roboto",sans-serif;
}
.first{
  
  background-image:url("https://shreethemes.in/upstart/layouts/images/bg/1.jpg");
   background-size: cover;
    background-position-x: center;
    width: 100%;
    height: 800px;
    background-position-y: bottom;}
.logo{

}

.container {
    display: flex;
    align-items: center;
    justify-content: space-around;
    background-size: cover !important;
}

.menu {
   display: flex;
   margin-left: 100px;

}

li {
    list-style: none;
    display: flex;
    margin: 0 25px;
    color: white;
    font-size: 15px;
    background-color: transparent;
    padding-top: 12px;
    padding-bottom: 12px;
    
}

.icon {
    background: white;
}

.title {
    color: white;
    margin-top:  250px;
    font-size: 32px !important;
    margin-left: 25px;
}

.launch {
    font-size: 17px; 
    width:600px;
    color: rgba(255, 255, 255, 0.869)!important
}

.btn {
    
    padding: 8px 20px;
    outline: none;
    text-decoration: none;
    font-size: 16px;
    letter-spacing: 0.5px;
    transition: all 0.3s;
    border-radius: 6px;
    background-color: #ff5714 !important;
    border: 1px solid #ff5714 !important;
    color: #fff !important;
 }
.second{
    background-color: #f8f9fc !important;
}
.yazi{

    padding-left: 50px;
    font-family: "Roboto",sans-serif;

}
 .yazi h1{
    color:#ff5714;
    font-size: 14px;
 }
 .yazi h2{

    font-size: 30px;
 }
 .text{
    color: #8492a6 !important;
    line-height: 1.6;
 }
 .position-relative{

    position:relative!important;
    padding-top: 100px;
    padding-left: 70px;
    
 }
 .img{
    border-radius: 10px;
    width: 450px;
 }

 .ucuncu{
   margin-top: 100px;
 }
 
 .ucuncu-baslık-sol h2{
color: #ff5714;
font-size: 14px;
 }
 .card1{
    width: 250px;
    height: 250px;
    /* border: 1px black solid; */
    background-color:var(--bs-card-bg);
    transition: all 0.5s ease;
    border: 1px solid black;
    border-radius: 10px;
    padding-left: 30px;
    margin-right: 70px;
    margin-bottom: 30px;
}
.card1 p{
    color: #8492a6 !important;
}
.card1 h3, h6{
    color: #24272c !important
}


.row{
    padding-left: 15%;
    display: flex;
    flex-wrap: wrap;
}