$textColor: #dd6706;
$boxColor: #257563;
$color2: red;
h2{
    color: $textColor;
}
ul{
    list-style: none;
    li{
        display: inline-block;
        color: $textColor;
        a{
            text-decoration: none;
        }
    }
}
.container{
    display: flex;
    gap: 10px;
}
@mixin deneme ($w, $h, $bgColor){
width: $w;
height: $h;
background-color: $bgColor;
}
.box1{
    @include deneme(100px,150 ,$boxColor);
}
.box2{
    @include deneme(50px, 100px, $textColor);
    padding: 10px;
}
.box3{
    @extend .box2;
    padding: 20px;
}
    