*{
  margin: 0;
  box-sizing: border-box;
}

$orange: rgba(253,126,20,1) !important;
$white:rgba(255,255,255,1) !important;
$blue:darkblue;


@mixin rowCol($direction)
{
display:flex;
flex-direction: $direction;
}

@mixin btn {
  padding: 0.5em 1em;
text-decoration: none;
border-radius: 8px;
transition: all 0.5s ease-in-out;

  
}
.textwhite {
  color: $white;

}

.textlarge {
  font-size: xx-large;
}

.textorange {
  color: $orange;
}
.bg-blue {
  background-color: $blue;
}

.btnorange{
  background-color:$orange;
  color:$white;
  &:hover{
    background-color: $white;
    color: $orange;
  }

  @include btn();
}
.navlink {
  @include btn();
  color: $white;
  &:hover{
    color: $orange;
  }
} 

.navlink-item {

@include btn();
color: black;
&:hover {
  color: $orange;
}
}

.row {
  @include rowCol(row);
  gap: 1em;
  align-items: center;
}

.col {
  @include rowCol(column);
  gap: 1em;
}

.align-item-center {
  display: flex;
  align-items: center;
}
.justify-content-center {
  display: flex;
  justify-content: center;
}
.justify-content-between {
display: flex;
justify-content:space-between;
}

.dropdownmenu {
position: relative;
&:hover{
  .dropdownlink {
    display: block;
  }
}
.dropdownlink {
  position: absolute;
  display: none;
  background-color: white;
  padding: 0.5em;
  box-shadow: 0 0 18px 0 #ccc;
  border-radius: 8px;

}
}

.bg-img {
  background-image: url("https://technext.github.io/chariteam/img/carousel-2.jpg");
  background-size:cover;
  background-repeat: no-repeat;
  background-position: center;
  filter: brightness(0.4);
  width: 100%;
  height: 100%;
}

#home {
  position: relative;
  height: 100vh;

}

.opacity {
  opacity: 1 !important;
}

.overlay{
  position: absolute;
 top: 0;
 left: 0;
 right: 0;
 bottom: 0;
  
}

