body {
  background-image: linear-gradient(
    to bottom left,
    rgb(58, 58, 58),
    rgb(38, 38, 36)
  );
  color: white !important;
}

.container table thead tr th {
  color: white;
}

.container table thead tr th td {
  color: white;
}

section img {
  border: 3px solid white;
}
