*{
padding: 0;
margin: 0;
box-sizing: border-box;
}

h1 {
    font-size: 2rem
    text-transform: uppercase;
}

.contact , .experience h2 {
    font-size: 1.1rem;
    border-top: 1px solid #888;
    padding: 0.75rem 0;
    text-transform: uppercase;
}

h3 {
    font-size: 1rem;
    text-transform: uppercase;
    color: blueviolet;
    
}

p{
    line-height: 1.5;
}
html {
    color: rgba(2, 3, 3, 0.845);
    font-family: Georgia, 'Times New Roman', Times, serif;
    line-height:1.5;
}
body{
    padding: 4rem 5rem;
    background-color: rgba(189, 50, 35, 0.484);
 }

section + section {
    margin-top: 2rem;
}

a{
    text-decoration: none;
    color: inherit;
}

ul {
list-style: none;
margin: 1rem;
}

.lineheight{

    line-height: 25px;
    
}


.profile{
    text-align: center;
}

.profile img {
    border-radius: 9999px;
    width: 13rem;
    height: 13rem;

}

.profile p{
    color: rgb(31, 15, 46);
    margin-bottom: 1rem;
    font-size: 1.25rem;
}


.contact li {
    text-align:left;
    text-transform: uppercase;
    padding: 1rem;
    margin-left: -1rem;
    border-top: 1px solid #888;
    border-bottom: 1px solid #888;
    color: 888;

}
.skills > ul {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 1rem;
}

.timeline .event + .event {
padding-top: 1rem;

}
.event + .event .event {

    display: grid;
    grid-template-columns: 5ch 1fr;
}

.timeline .content {

    border-left: 1px solid #888;
    padding-left: 1rem;
    margin-left: 1rem;
}

.content > h3 + p {
    margin-bottom: 1rem;
    color: rgb(3, 3, 3);
}

.resume {
    display: grid;
    grid-template-columns: 40% 1fr;
    grid-gap: 4rem;
    background-color: antiquewhite;
   padding: 3rem;

}

.list{

    margin-bottom: 8px;


}
