body {
  background-color: bisque;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
}

.box {
  background-color: orangered;
  width: 100px;
  height: 100px;
  /* transition-property: background-color;
  transition-duration: 2s;
  transition-timing-function: ease-in-out;
  transition: all 2s ease-in-out; */
  animation: aaa 3s forwards 0s ease-in-out;
}

.box:hover {
  /* background-color: chartreuse;
  border-radius: 30%;
  transform: scale(2);
  transform: rotate(180deg);
  transform: skew(30deg);
  transform: translateX();
  transform: translateY();
  transform: translate(-100px, -100px); */
}

@keyframes aaa {
  to {
    width: 300px;
  }
}
