body {
  margin: 0;
}

.container {
  background-color: #7d7d7d;
  padding: 20px;
  display: grid;
  /*grid-template-columns: 1fr 3fr 1fr 1fr;*/
  grid-template-columns: repeat(6,1fr);
  gap: 10px;
}

.item {
  background-color: #f7786b;
  padding: 20px;
  margin: 20px;
  color: #fff;
  font-size: 25px;
}

.item:first-child { 
/* grid-column-start: 2;
grid-column-end: 4;
grid-column: 2 / 5;
grid-row-start: 2;
grid-row-end: 4;
grid-row: 2 / 4;
grid-column: 2 / span 3; */
grid-area: 1 / 2 / span 2 / span 4;
}