body {
    width: 100%;
     height: 900px;
     background: rgb(168, 224, 16);
   background: linear-gradient(to bottom right, rgb(214, 180, 54), rgb(169, 49, 28));
    
    }


[class*="col-"] {
    width: 100%;
  }
  
  @media only screen and (min-width: auto) {

    .col-1 {width: 8.33%;}
    .col-2 {width: 16.66%;}
    .col-3 {width: 25%;}
    .col-4 {width: 33.33%;}
    .col-5 {width: 41.66%;}
    .col-6 {width: 50%;}
    .col-7 {width: 58.33%;}
    .col-8 {width: 66.66%;}
    .col-9 {width: 75%;}
    .col-10 {width: 83.33%;}
    .col-11 {width: 91.66%;}
    .col-12 {width: 100%;}
  }




header {
    color: black;
    font-size: bold 40px arial;
    margin: 0 0 0 570px;
}
section {
    width: 980px;
    margin-left: auto;
    margin-right: auto;
}
.part1 {
    width: 250px;
    height:700px;
    border-radius: 15px;
    background-color: rgb(176, 180, 178);
    border-radius: 15px;
    float: left;
}
.part2 {
    width: 250px;
    height:700px;
    border-radius: 15px;
    background-color: rgb(176, 180, 178);
    margin-left:10px;
    margin-right: 10px;
    border-radius: 15px;
    float: left;
}
.part3 {
    width: 250px;
    height:700px;
    border-radius: 15px;
    background-color: rgb(176, 180, 178);
  
    border-radius: 15px;
    float: left;
}
.foto1 {
    width: 250px;
    height: 300px;
    margin: 15 0 0 0;

}

.foto2 {
    width: 250px;
    height: 300px;
    margin: 15 0 0 0;

}
.foto3 {
    width: 250px;
    height: 300px;
    margin: 15 0 0 0;

}

.baslik1 {
 
  border-radius: 20px;
  padding: 20px 20px;
  margin: 30px 0 0 20px;
  background: rgb(236, 89, 40);
  background: linear-gradient(to bottom right, rgb(236, 89, 40), rgb(216, 196, 193))
}
.baslik2 {
 
    border-radius: 20px;
    padding: 20px 20px;
    margin: 30px 0 0 20px;
    background: rgb(40, 177, 236);
    background: linear-gradient(to bottom right, rgb(40, 177, 236), rgb(200, 217, 229))
  }
  .baslik3 {
 
    border-radius: 20px;
    padding: 20px 20px;
    margin: 30px 0 0 20px;
    background: rgb(138, 163, 15);
    background: linear-gradient(to bottom right, rgb(138, 163, 15), rgb(221, 235, 145))
  }

.orta1 {
width: 220px;
height: 300px;
padding: 15px 15px;
color: black;
font: 12px arial;
}
.orta2{
    width: 220px;
    height: 300px;
    padding: 15px 15px;
    color: black;
    font: 12px arial;
    }
 .orta3 {
        width: 220px;
        height: 300px;
        padding: 15px 15px;
        color: black;
        font: 12px arial;
        }
.altkisim {
width:200px ;
height: 40px;


}
.altfoto {
    width: 30px;
    height: 30px;
    padding: 0 20px;
    float: left;
}
 .altyazi {
    width:140px;
    height: 30px;
  
    font: 10px arial;
}

img {
 border-radius: 10px;

}


