.App {
  text-align: center;
}

body {
  background: url("img/background1.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
}
