.icon{

 font-size: 50px; 

}
.icerik-list{

    display: flex;
    list-style: none;
    flex-direction: left;
    justify-content: flex-start;
    gap: 25px;
    align-items: column;
    margin-left: 150px;
    margin-top: 2px;
}