.kutu{
    width: 150px;
    height: 150px;
}
#kutu1{
    background: lightpink;
    position: sticky;
    top: 40px;
    width: 100%;

}
#kutu2{
    background: lightsalmon;
    position: absolute;
    top: 50px;
    left: 50px;

}
#kutu3{
    background: lightcoral;
    position: relative;
    top: 50px;
    left: 20px;

}