* {
  margin: 0;
  box-sizing: border-box;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}
$m: (
  auto: 0 auto,
  0: 0,
  1: 1em,
  2: 2em,
  3: 3em,
);
$p: (
  0: 0,
  1: 1em,
  2: 2em,
  3: 3em,
);
$shadow: (
  small: 0 0 6px 0 rgb(199, 199, 199),
  medium: 0 0 12px 0 rgb(199, 199, 199),
  large: 0 0 18px 0 rgb(199, 199, 199),
);
$text-size: (
  large: large,
  normal: normal,
  small: small,
);
$text-weight: (
  bold: bold,
  normal: normal,
  lighter: lighter,
);
$color: (
  primary: rgb(21, 61, 119),
  secondary: rgb(244, 247, 252),
  light:rgb(255,255,255),
  danger: rgb(220, 53, 69),
  success: rgb(40, 167, 69),
  warning: rgb(253, 126, 20),
  link: rgba(255, 255, 255, 0),
  black: rgba(0,0,0,.5)
);
$border: (
  rounded: 16px,
  circle: 50%,
);

$col:(
  2:2/12*100%,
  3:3/12*100%,
  4:4/12*100%,
  6:6/12*100%,
  8:8/12*100%,
  10:10/12*100%,
  12:12/12*100%,
);

$justify-content:(
  center:center,
  start:start,
  end:end,
  between:space-between,
);
$order:(
  1:1,
  2:2,
  3:3,
  4:4,
  5:5
);

@each $key, $value in $m {
  .m-#{$key} {
    margin: $value;
  }
}
@each $key, $value in $p {
  .p-#{$key} {
    padding: $value;
  }
}
@each $key, $value in $shadow {
  .shadow-#{$key} {
    box-shadow: $value;
  }
}
@each $key, $value in $text-size {
  .text-#{$key} {
    font-size: $value;
  }
}
@each $key, $value in $text-weight {
  .text-#{$key} {
    font-weight: $value;
  }
}
@each $key, $value in $color {
  .text-#{$key} {
    color: $value;
  }

  .bg-#{$key} {
    background-color: $value;
  }

  .btn-#{$key} {
    display: flex;
    gap: 20px;
    padding: 0.5em;
    text-decoration: none;
    align-items: center;
    background-color: $value;
    color: rgb(255, 255, 255);
    border-radius: 8px;
    transition: all .3s ease-in-out;
    &:hover {
      opacity: 0.8;
      background-color: #cccc;
    }
    @if $key==link or $key==warning {
      color: rgb(0, 0, 0);
    }
    i {
      color: rgb(56, 104, 173);
    }
  }
  .badge-#{$key} {
    background-color: $value;
    color: rgb(255, 255, 255);
    border-radius: 16px;
  }
}
@each $key, $value in $border {
  .border-#{$key} {
    border-radius: $value;
  }
}
@each $key,$value in $col {
  .col-#{$key}{
    width: $value;
    
  }
}
@each $key,$value in $order {
  .order-#{$key}{
    display: flex;
    order: $value;
  }
}

@mixin card {
  @include flexRC(column);
  padding: map-get($p, 1 );
  box-shadow: map-get($shadow, large );
  border-radius: 8px;
  .card-header{
    @include flexRC(row);
    justify-content: map-get($justify-content, between);
    align-items: center;
  }
  .card-action{
    @include flexRC(row);
  }
  .card-content{
    @include flexRC(column);
    height: 100%;
    gap: 10px;
  }
}

@mixin flexRC($direction) {
  display: flex;
  flex-direction: $direction;
}

@mixin gridRC($rowCount, $colCount) {
  display: grid;
  grid-template-columns: repeat($colCount, minmax(200px, 1fr));
  grid-template-rows: repeat($rowCount, 1fr);
}
@mixin min-width($width){
  min-width: $width;
}
.row{
  @include flexRC(row);
  flex-wrap: nowrap;
  gap: 10px;
  align-items: center;
  padding: map-get($p , 1 ) map-get($p, 0)
}
.col{
  @include flexRC(column);
  gap: 10px;
}

.wrapper {
  @include flexRC(row);
}
.container,
.container-fluid {
  @include flexRC(column);
  padding: 1em;
  width: 100%;
  
}
.sidebar {
  margin: 0 auto;
  max-width: 250px;
  min-width: 250px;
  height: 100vh;

  .sidebar-logo-header {
    margin: 0;
    padding: 1em 1em;
  }
  .sidebar-user {
    @include flexRC(column);
    justify-content: center;
    align-items: center;
    padding: 2em;
    img {
      width: 75px;
      height: 75px;
    }
  }
  .sidebar-nav {
    list-style: none;
    margin: 0;
    padding: 0;
    .sidebar-header {
      padding: 0.5em 1.5em;
      font-size: smaller;
      color: #adb5bd;
    }
    .sidebar-item {
      padding: 0.3em 1.5em;
      width: 100%;
    }
  }
  .sidebar-link{
    display: flex;
    gap: 20px;
    padding: 0.5em;
    text-decoration: none;
    align-items: center;
    background-color: map-get($color, link );
    color: map-get($color, black );
    border-radius: 8px;
    transition: all .3s ease-in-out;
    &:hover {
      opacity: 0.8;
      background-color: #cccc;
    }
    i {
      color: rgb(56, 104, 173);
    }
  }
}

.card{
  @include card;
}

.dropdown {
  position: relative;
  
  &:hover {
    .dropdown-list {
      display: block;
      animation: fadeIn;
      animation-duration: .5s;
    }
    .dropdown-button{
      display: block;
      animation: fadeIn;
      animation-duration: .5s;
    }
  }
  .dropdown-button{
    position: absolute;
    right: 0;
    display: none;
    background-color: map-get($color, light );
    list-style:none;
    border-radius: 8px;
    padding: map-get($p, 1 );
    @include min-width(200px);
  }
  .dropdown-list {
    @include min-width(500px);
    right: 0;
    position: absolute;
    display: none;
    background-color: map-get($color, light );
    list-style: none;
    width: 100%;
    border-radius: 8px;
    li{
      border: 0.2px solid rgb(240, 240, 240);
      padding: map-get($p, 1 );
    }
  }
}

.navbar{
  padding: 1em;
  img{
    width: 50px;
    height: 50px;
  }
} 
.justify-content-between{
  display: flex;
  justify-content: space-between;
}
.justify-content-end{
  display: flex;
  justify-content: flex-end;
}
.justify-content-center{
  display: flex;
  justify-content: center;
}
.text-align-center{
  text-align: center;
}
.list-style-none{
  list-style: none;
  margin: 0;
  padding: 0;
}
.divider{
  border: 1px solid map-get($color, secondary );
}
#SearchBox{
  outline: 0;
  border: 0;
  background-color: map-get($color, secondary );
  font-size: large;
  
}

@media (max-width:990px) {
  .sidebar{
    display: none;
  }
  
}
@media (max-width:630px) {
  .col-4,.col-6,.col-8{
    width: map-get($col, 12 )
  }
  .row{
    @include flexRC(column);
    flex-direction: nowrap;
  }
  .card-content{
    overflow: scroll;
  }
  .navbar{
    .row{
      @include flexRC(row);
      flex-direction: nowrap;
    }
  }
}