* {
  margin: 0;
  box-sizing: border-box;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
$m: (
  auto: 0 auto,
  0: 0,
  1: 1em,
  2: 2em,
  3: 3em,
);
$p: (
  0: 0,
  1: 1em,
  2: 2em,
  3: 3em,
);
$shadow: (
  small: 0 0 6px 0 rgb(199, 199, 199),
  medium: 0 0 12px 0 rgb(199, 199, 199),
  large: 0 0 18px 0 rgb(199, 199, 199),
);
$text-size:(
  large:large, 
  normal:normal,
  small:small
);
$text-weight:(
  bold:bold,
  normal:normal,
  lighter:lighter
);
$color:(
  primary:rgb(21, 61, 119),
  secondary:rgb(244, 247, 252),
  danger: rgb(220,53,69),
  success:rgb(40,167,69),
  warning:rgb(253,126,20),
  link:rgba(255,255,255,0)
);
$border:(
  rounded: 16px,
  circle: 50%
);
@each $key, $value in $m {
  .m-#{$key} {
    margin: $value;
  }
}
@each $key, $value in $p {
  .p-#{$key} {
    padding: $value;
  }
}
@each $key, $value in $shadow {
  .shadow-#{$key} {
    box-shadow: $value;
  }
}
@each $key,$value in $text-size {
  .text-#{$key}{
    font-size: $value;
  }
}
@each $key,$value in $text-weight {
  .text-#{$key}{
    font-weight: $value;
  }
}
@each $key,$value in $color {
  .text-#{$key}{
    color:$value;
  }

  .bg-#{$key}{
    background-color: $value;
  } 
  
  .btn-#{$key}{
    display: flex;
    gap: 20px;
    padding: .5em;
    text-decoration: none;
    align-items: center;
    background-color: $value;
    color: rgb(255,255,255);
    border-radius: 8px;
    @if $key==link or $key==warning {
      color: rgb(0, 0, 0);
    }
    i{
      color: rgb(56, 104, 173);
    }
  }
  .badge-#{$key}{
    background-color: $value;
    color: rgb(255,255,255);
    border-radius: 16px;
  }
}
@each $key,$value in $border {
  .border-#{$key}{
    border-radius: $value;
  }
}


@mixin flexRC($direction) {
  display: flex;
  flex-direction: $direction;
}

@mixin gridRC($rowCount, $colCount) {
  display: grid;
  grid-template-columns: repeat($colCount, minmax(200px, 1fr));
  grid-template-rows: repeat($rowCount, 1fr);
}


.wrapper {
  @include flexRC(row);
}
.container,
.container-fluid {
  @include gridRC(1, 1);
  padding: 1em;
  width: 100%;
}
.sidebar {
  margin: 0 auto;
  max-width: 250px;
  min-width: 250px;
  .sidebar-logo-header{
    margin: 0;
    padding: 1em 1em;
  }
  .sidebar-user{
    @include flexRC(column);
    justify-content: center;
    align-items: center;
    padding: 2em;
    img{
      width: 75px;
      height: 75px;
    }
  }
  .sidebar-nav{
    list-style: none;
    margin: 0;
    padding: 0;
    .sidebar-header{
      padding: .5em 1.5em;
      font-size: smaller;
      color: #adb5bd;
    }
    .sidebar-item{
      padding: .3em 1.5em;
      width: 100%;
    }
  }
}
