

#container{
    width: auto;
    background: grey;
    
}
#birinci{
    background: pink;
    float: left;
}
#ikinci{
    background: powderblue;
    float: left;
}
#ucuncu{
    background: whitesmoke;
    float: left;
}
#dorduncu{
    background: beige;
    float: left;
}
div{
    width: 150px;
    height: 100px;
    margin: 5px;
    overflow: auto;
}
