$TextColor1:orange;
$TextColor2:rgb(243, 231, 231);
$Backcolor:rgb(6, 6, 80);


@mixin arrange-text{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;   
    font-size: small;
}
@mixin button{
    border-radius: 20px;
    font-size: small;
    color: $TextColor1;
    background-color: orange;

}
.container{
 
       
    .birinci{
        display: flex;
        background-color: rgba(17, 16, 16,0.8);
        flex-direction: row;
        justify-content: space-around;
                     
        .solbaslik{
                       
            .c{
                color: $TextColor1;
            }
            .t{
                color:$TextColor2
            }
            
        }
        .menu{
            color: $TextColor2;
          @include arrange-text;
          gap: 50px;
          
        
        }
        .button{
            display: flex;            
            align-items: center;
            border: 1px solid orange;
            border-radius: 10px;
            height: 60px;
            width: 200px;
            .Donate{         
            color:$TextColor1;
            font-size: 30px;           
            
        }

           
        }
    }
    .resim{      
        background-image: url("https://technext.github.io/chariteam/img/carousel-1.jpg");            height: 800px;
        .overlay{
            display: flex;
           background-color: rgba(17, 16, 16,0.8);
           width: 100%;
           height: 800px;
           justify-content: center;
           align-items: center;
           flex-direction: column;
           h2{           
            
            color: $TextColor2;        
            font-size: 50px;
        }
        p{
            color:rgba(170, 159, 159, 0.8);
            font-size: 30px;
        }
        .button2{
           .learnmore{
            color: $TextColor2;
            background-color:orange;
            font-size: 20px;
            border: 1px solid orange;
            border-radius: 10px;

           }
        }
        }
      
       
        
    }
    .ikinci{
        display: flex;
        flex-direction: row;
        .resim2{
            position: relative;
            margin-top: 50px;
            margin-right: 80px;
            margin-left: 120px;
            .small{
                margin-bottom: 500px;
                margin-right: 20px;
                position: absolute;
                top: 0;
                right: 0;
                z-index: 1;
                border: 10px solid white;
                
            
                
            }
            .big{
                width: 600px;
                height: 600px; 
                margin-top: 60px;   
                margin-right: 80px;



            }
           
        }
        .metin{
            background-color: rgb(233, 227, 227);
            height: 100px;
            width: 600px;
            padding-left: 20px;
            padding-top: 5px;
            border-bottom: 5px solid orange;
            border-radius: 5px;
                       
        }   

    .yazi{
        margin-top: 50px;
       
       .Buttoniki{
        .button{
           @include button();
           color: white;
        }
       }

    }
    }
}

.ucuncu{
    
    .uc-container{
        background-color: #e4e4e4;
        text-align: center !important;
        .uc-yazi{
           display: flex;
           align-items: center;
           flex-direction: column;
           margin-left: 100px;
            p{
                font-size: 50px;
                text-align: center;
                justify-content: center;
            }
            .Feature{
                color: $TextColor1;
                background-color:#FFF0E6 !important; 
                border-radius: 20px;
                width: 160px;
                height: 30px;
                padding-left: 30px;
                padding-top: 10px;
                font-size: 20px;

            }

        }
        @mixin education{
            color: white;
            background-color: $TextColor1;
            font-size: 20px;
            border-radius: 10px;
            padding-left: 10px;
            padding-top: 10px;

        }
        .uc-box{
            display:flex;
            flex-direction: row;
            justify-content: space-around;
            align-items: center;
            gap: 20px;
            ;
            .uc-first{
                background-color: #fff;
                width: 600px;
                height: 220px;
                border-top: 10px solid orange;
                border-radius: 10px;
                
                
            }
            .uc-second{
                background-color: #fff;
                width: 600px;
                height: 220px;
                border-top: 10px solid orange;
                border-radius: 10px;
            }
            .uc-third{
                background-color: #fff;
                width: 600px;
                height: 220px;
                border-top: 10px solid orange;
                border-radius: 10px;
            }
            
                .EC{
                    @include education;
                    width: 110px;
                    height: 40px;
                    margin-top: 0px;
                    margin-left: 30%;
                   
                    
                }
                .PW{
                    @include education;
                    width: 110px;
                    height: 40px;
                    margin-top: 0px;
                    margin-left: 30%;
                }
                .HL{
                    @include education;
                    width: 120px;
                    height: 40px;
                    margin-top: 0px;
                    margin-left: 30%;

                }
                h4{
                    font-size: 20px;
                    color: black;
                    font-family: I'Arial Narrow Bold';
                }
                p{
                    text-align: start !important;
                    font-size: 20px;
                }
            
            

        }

    }
}