body {
    font-family: 'Raleway', sans-serif;
    width: 900px;
    margin: 40px auto;

    /* bak burası çokomelli aşkom. margin: 40px auto; dediğin yerde auto textin hepsini ortaya hizalıyo, silersen varsayılan sola dönüyo yani çok faydalı bir özellik margin: auto; demek :D */
}

p#paragraf1 {
    text-align: right;
}

p#paragraf2 {
    text-align: center;
}

p#paragraf3 {
    text-align: left;
    border: 2px solid beige;
    padding: 10px;
    column-count: 2;
}

p#paragraf4{
    text-align: justify;
    text-indent: 30px;

}