$mainColor: #001d23;
$textColor: white;
$textColor2: #ff6f06;

.container {
  width: 100%;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-areas:
    "head head head"
    "main main main"
    "section1 section1 section1"
    "section2 section2 section2"
    "section3 section3 section3"
    "section4 section4 section4"
    "section5 section5 section5"
    "section6 section6 section6"
    "footer footer footer";
}

body {
  margin: 0;
  width: 100%;
  font-family: "Saira", sans-serif;
  line-height: 1.5;
}

@mixin boyut($w, $h) {
  width: $w;
  height: $h;
}

.head {
  grid-area: head;
  background-color: $mainColor;
  color: $textColor;
}

.header {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;

  .title {
    display: flex;
    justify-content: flex-start;
  }
  .icon {
    @extend .title;
    border: 2px solid $textColor2;
    padding: 8px;
    gap: 15px;
  }
  .nav {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    gap: 15px;
  }
  span {
    color: $textColor2;
  }

  ul {
    display: flex;
    list-style: none;
    gap: 15px;
  }
  a {
    text-decoration: none;
    color: $textColor;
  }

  a:hover {
    color: $textColor2;
  }

  i {
    background-color: $textColor;
    border-radius: 50%;
    padding: 5px;
  }

  .icon .btn:hover {
    color: $textColor;
  }

  .icon:hover {
    background-color: $textColor2;
    cursor: pointer;
  }
}

.bgimage {
  filter: brightness(30%);
  width: 100%;
} 
.main {
  width: 100%;
}
.carousel {
  position: relative;
  margin-bottom: 0 !important;
}
.title1 {
  color: $textColor;
  position: absolute;
  top: 30%;
  left: 10%;
  right: 10%;
  font-size: 30px;
  text-align: center;
  width: 80%;

  p {
    color: rgba(255,255,255,0.5);
    font-size: 21px;
  }
  .icon {
    border: 2px solid $textColor2;
    padding: 8px;
    margin-left: auto;
    margin-right: auto;
    width: fit-content;
    display: flex;
    gap: 15px;
    font-size: 21px;
    
  }

  .icon .btn:hover {
    color: $textColor;
  }

  .icon:hover {
    background-color: $textColor2;
    color: $textColor;
    cursor: pointer;
  }

  a {
    text-decoration: none;
    color: $textColor2;
  }

 

  i {
    background-color: $textColor;
    border-radius: 50%;
    padding: 5px;
    justify-content: center;
    align-items: center;
  }
  span {
    color: $textColor2;
  }
}
.title1.animate__animated.animate__fadeInDown {
    animation-duration: 2s;
}
.main {
  grid-area: main;

}

.section1 {
  grid-area: section1;
  margin-top:5%;
  margin-left:15%;
  margin-right: 15%;
  display: flex;
  gap: 5%;
  font-size: 18px;
  

  img {
    @include boyut(600px,600px)
  }

  
  h2 {
    font-size: 2.5rem !important;
    margin-top: 0;
    
  }

  .txt {
    background-color: #fff0e6;
    color:$textColor2;
    width: fit-content;
    padding: 5px;
    border-radius: 6px;
    margin-top: 0;
  }

  .text {
    background-color:#F8F8F9 ;
    border-bottom: 1px solid #dee2e6;
    border-width: 5px;
    border-color: $textColor2;
    border-radius: 6px;
    padding:1.5rem;
    width: fit-content;
  }

  .twoIcon {
    display: flex;
    gap: 15px;
  }

  .icon {
    border: 1px solid $textColor2;
    padding: 8px;
    border-radius: 5px;
  }

  .icon .btn:hover {
    color: $textColor;
  }

  .icon:hover {
    background-color: $textColor2;
    cursor: pointer;
  }

  a {
    text-decoration: none;
    color: $textColor2;
  }

  a:hover {
    color: $textColor;
  }

  i {
    background-color: $textColor;
    border-radius: 50%;
    padding: 5px;
    justify-content: center;
    align-items: center;
  }
  span {
    color: $textColor2;
  }
 
}

.animate__animated.animate__fadeInUpBig {
    animation-duration: 3s;
}

.aside.animate__animated.animate__fadeInUpBig {
    animation-duration: 4s;
}

.section2 {
  grid-area: section2;
  width: 70%;
  margin-left: auto;
  margin-right: auto;
}
.section3 {
  grid-area: section3;
  background-color: cadetblue;
}
.section4 {
  grid-area: section4;
  background-color: chocolate;
}
.section5 {
  grid-area: section5;
  background-color: royalblue;
}
.section6 {
  grid-area: section6;
  background-color: yellowgreen;
}
.footer {
  grid-area: footer;
  background-color: black;
}

@media (max-width: 860px) {
  .nav ul {
    display: none;
  }

  .container {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    grid-template-areas:
      "head"
      "main"
      "section1"
      "section2"
      "section3"
      "section4"
      "section5"
      "section6"
      "footer";
  }
  .carousel {
    position:relative;
   
  }
  .title1 {
    position: absolute;
    top: 10%;
    font-size: inherit;

  }

  .section1 {
    display: block;
    flex-direction: column;
    margin-left: 10%;
  }

}

@media (max-width: 350px) {
  .header {
    display: block;
    flex-direction: column;
    padding: 10px;
  }
}
