.App {
  text-align: center;
}

.riskStatus {
  color: white;
  font-size: 24px;
  height: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.riskStatus.minimal {
  background-color: green;
}
.riskStatus.medium {
  background-color: blue;
}
.riskStatus.high {
  background-color: red;
}
