.header {
  display: flex;
  gap: 10px;
  place-items: center;
  padding: 20px;
  height: 80px;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.205);
  transform: scale(1);
}
.header__title,
.header__icon {
  font-size: 25px;
  color: #ff4545;
}
.header__icon {
  width: 40px;
}
