body{background-color: rgb(65, 146, 218);
color:blue
}
p{background-color: azure;
}

@import url(https://fonts.googleapis.com/css?family=Roboto:400,300,600,400italic);
 
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
}
.container{
    width: 980px;
}

