@import url('https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@600&family=Roboto:wght@400&display=swap');

* {
    padding: 0;
    margin: 0;
}

.container {
    max-width: 1140px;
    margin-left: auto;
    margin-right: auto;
    padding-left: 0.75rem;
    padding-right: 0.75rem;
    box-sizing: border-box;
}

.flex {

    display: flex;
}

.relative {
    position: relative;
}





.header {
    position: fixed;
    z-index: 1;
    width: 100%;
}

.header_container {
    display: flex;
    justify-content: space-between;
}


.highlight {
    background-image: url(background.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    position: relative;
}


.dark {
    background-color: rgba(22, 28, 45, 0.75);
    position: absolute;
    opacity: 0.7;
    width: 100%;
    height: 100%;
    content: "";
    top: 0;
    z-index: 0;

}

.brand_box {
    display: flex;
    align-items: center;
    height: 70px;
}

.brand_box img {
    width: 105px;
    height: auto;
}



.ustsatir {
    display: flex;
    justify-content: right;
    margin-top: 15px;
    margin-left: 150px;
}

li {
    list-style: none;
    color: rgba(255, 255, 255, 0.8);

    margin: 10px 10px 10px 10px;


}

.social {

    padding: 10px 20px 30px 0px;
    text-align: center;
    display: flex;
    justify-content: center;
    align-self: center;


}

.footer__social--link {
    padding: 5px;
    background-color: rgb(238, 238, 238);
    border: 1px solid rgb(238, 238, 238);
    border-radius: 20px;
    margin: 9px 5px;
    text-align: center;





}


a {
    text-decoration: none;
    font-size: 13px;
    font-weight: bold;

    color: rgba(255, 255, 255, 0.8);
}

ul,
li,
a:hover {
    color: #ffffff;
    transition: 0.5s;
}

.home {
    padding: 260px 0px;


}

.description {
    color: rgb(255, 255, 255);
    font-size: 42px;
    letter-spacing: 0.2px;
    line-height: 1.5;
}

.firstparagraph {
    font-size: 17px;
    letter-spacing: 0.5px;
    color: rgba(255, 255, 255, .5);
    line-height: 1.6;
    font-family: "roboto", sans-serif;
    max-width: 600px;

}

.button_box {
    margin-top: 30px;
}

.button {
    border-radius: 6px;
    background-color: #ff5714;
    color: aliceblue;
    opacity: 0.9;
    font-size: 16px;
    letter-spacing: 0.5px;
    padding: 8px 20px;
    text-decoration: none;
    transition: all 0.3s;
    font-family: "Roboto Slab";


}

.button:hover {
    background-color: #e04000;


}




.section2 {
    padding: 100px 0px;

    background-color: #f8f9fc;
}

.story {
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;



}

.story_photo {
    width: 42%;



}

.story_right {
    width: 52%;


}

.about_photo {
    border-radius: 10px;
    border: 1px solid white;
    width: 100%;
    box-sizing: border-box;
}




h2 {
    line-height: 1.5;
    font-weight: 600;
    font-size: 15px;
    margin-bottom: 15px;
    color: #ff5714;
    font-family: "Roboto Slab", serif;


}

h3 {

    line-height: 1.5;
    font-weight: 600;
    letter-spacing: 0.5px;
    font-size: 28px;
    margin-bottom: 15px;
    font-family: "Roboto Slab", serif;

}

.other_paragraph {
    color: #8492a6;
    line-height: 1.6;
    font-size: 15px;
    font-family: "roboto", sans-serif;
    font-weight: lighter;

}

.section3 {
    padding: 100px 0;
}

.services {
    justify-content: space-between;
    align-items: center;


}

.perfect {
    width: 50%;
}


.right_text {
    text-align: left;
    width: 50%;


}

.feature {
    flex-wrap: wrap;


}

.feature_box {
    width: 33.33%;
    margin-top: 50px;
    padding: 2.5rem;
    justify-content: space-between;
    box-sizing: border-box;
}

.feature_box:hover {
    box-shadow: 0 25px 25px rgb(36 39 44 / 5%);
    transition: 0.3s;
}


h4 {

    color: #24272c;
    transition: all 0.5s ease;
    font-size: 18px;
    line-height: 1.5;
    font-weight: 600;
    margin-bottom: 25px;
    font-family: "Roboto Slab", serif;



}

a h4:hover {
    color: #ff5714;
}


.services_photo {
    margin-bottom: 25px;
    border: 1px solid #ffffff;
    border-radius: 10px;

}

.read {
    margin-top: 25px;
}

.read_more {
    color: #020202;
    font-size: 16px;
    letter-spacing: 0.5px;
    transition: all 0.3s;
    font-weight: 500;
    font-family: "Roboto slab", sans-serif;
}

.read_more:hover {
    text-decoration: underline;
    color: #ff5714;
    font-weight: bold;
}






.process {
    justify-content: center;
}

.process_left {
    width: 50%;

}

.process_right {
    width: 50%;
}

.border {
    border: 2px dashed #dee2e6;
    margin: 0px 15px;
}




.edit {
    margin-left: 275px;
    margin-right: 275px;
    margin-bottom: 40px;
    padding-bottom: 20px;
}

.center {

    text-align: center;



}

.avatar {
    height: 250px;
    width: 250px;
    margin-left: 270px;
}

.avatar2 {
    height: 250px;
    width: 250px;
    margin-left: 30px;
}




.text_right {
    text-align: right;

}

.section5 {
    padding: 100px 0px;
    background-color: #f8f9fc;
}

.portfolio {
    flex-wrap: wrap;
}

.portfolio_box {
    width: 25%;
    margin-top: 1.5rem;
    padding-top: 0.5rem;
    padding-right: 1.5rem;
    box-sizing: border-box;
}


.portfolio_photo {
    width: 100%;
    height: auto;
    transition: all 0.5s ease;
    border-radius: 10px;

}

.section6 {

    padding: 100px 0px;
    background-image: url(cta.png);
    background-position: center;
    position: relative;
}

.section6 h2 {
    font-family: "Roboto Slab", serif;
    line-height: 1.5;
    font-weight: 600;
    letter-spacing: 0.5px;
    font-size: 28px;
    color: white;
}

.section7 {
    padding: 100px 0;
}

.plans_header {
    padding-bottom: 0.5rem;
    margin-bottom: 1.5rem;
}

.plan {
    flex-wrap: wrap;

}

.plan_box {
    width: 33.33%;


    padding-top: 0.5rem;
    margin-top: 1.5rem;
    padding-left: 1em;
    padding-right: 1em;
    box-sizing: border-box;



}

.prices {
    padding-top: 3rem;
    padding-bottom: 3rem;
    padding-right: 1.5rem;
    padding-left: 1.5rem;
    transition: all 0.5s ease;
    box-shadow: 0 0 3px rgb(36 39 44 / 15%);
    border-radius: 10px;



}

.prices:hover {
    box-shadow: 0 5px 13px rgb(36 39 44 / 20%);
    transform: translateY(-10px);
}

.pricing {
    transition: all 0.5s ease;
}



.price_box {
    margin-bottom: 1.5rem;
}

.dollar {
    font-family: "Roboto Slab", serif;
    line-height: 1.5;
    font-weight: 600;
    font-size: 18px;
}

.number {
    font-size: 42px;
    font-family: "Roboto Slab", serif;
    line-height: 1.5;
    font-weight: 600;
}

.month {
    align-self: flex-end;
    font-family: "Roboto Slab", serif;
    line-height: 1.5;
    font-weight: 600;

}

.plan_box ul li {
    color: #8492a6;
    line-height: 1.6;
    font-size: 15px;
    font-family: "roboto", sans-serif;
    font-weight: 100;

}

.plan_box ul li i {
    margin-right: 0.5rem;

}

.feature {
    margin-bottom: 2rem;

}


.button2 {
    padding: 8px 100px;
    text-decoration: none;
    font-size: 16px;
    transition: all 0.3s;
    border-radius: 6px;
    color: #ff5714;
    background-color: rgba(255, 87, 20, 0.1);
    border: 1px solid rgba(255, 87, 20, 0.1);
    margin-top: 2rem;


}

.button2:hover {
    background-color: #ff5714;
    border-color: #ff5714;
    color: #fff;
}

.section8 {
    padding: 100px 0;
    background-color: #f8f9fc;

}

.team {
    flex-wrap: wrap;
    justify-content: space-around;
    margin-top: 3rem;



}

.team_box {
    width: 25%;

}

.names {
    color: #8492a6;
    line-height: 1.6;
    font-size: 15px;
    font-family: "roboto", sans-serif;
    font-weight: 100;
}

.brand_photo {
    max-height: 25px;
}

.brand {
    justify-content: center;
    flex-wrap: wrap;
    padding-top: 3rem;
}

.section9 {
    padding: 100px 0;
}



.blog {
    flex-wrap: wrap;
}

.blog_box {
    width: 33.33%;
    margin-top: 1.5rem;
    padding-left: 1em;
    padding-right: 1em;
    box-shadow: 0 0 3px rgb(36 39 44 / 15%);
    box-sizing: border-box;
}

.blog_photo {
    width: 100%;
    height: auto;
}


.blogs {
    transition: all 0.5s ease;
    box-shadow: 0 0 3px rgb(36 39 44 / 15%);
    border-radius: 10px;
}

.blog a h4 {
    margin-top: 1.5rem;
    margin-left: 1rem;
    margin-right: 1rem;

}

.blog p {
    margin-top: 1.5rem;
    margin-left: 1rem;
    margin-right: 1rem;

}

.blog .read {
    margin-top: 1.5rem;
    margin-left: 1rem;
    margin-right: 1rem;
}

.section10 {
    padding: 100px 0;
    background-color: #f8f9fc;
}

input.button {
    border: none;
}

.block {
    display: block;
}


.contact {
    align-items: center;
}

.contact_left {
    background-color: white;
    padding-top: 1.5rem;
    margin-top: 1rem;
    width: 66.666%;
    padding-left: 2rem;
    padding-right: 2rem;
    padding-bottom: 1.5rem;
    box-shadow: 0 0 3px rgb(36 39 44 / 15%);

}

.yolla {
    font-family: "Roboto", sans-serif;
    font-size: 15px;

}

.control {
    margin-bottom: 1.5rem;
    padding-left: 1rem;
    padding-right: 1rem;
    border: 1px solid #dee2e6;
    font-size: 14px;
    line-height: 26px;
    border-radius: 6px;
    width: 100%;
    height: 40px;
    box-sizing: border-box;
}


.first_contact {
    display: grid;
    grid-template-columns: 50% 50%;
    grid-column-gap: 10px;

}

.height {
    height: 110px;
}


.contact_right {
    padding-top: 0.5rem;
    margin-top: 1.5rem;
    padding-left: 0.5rem;
    padding-right: 0.5rem;
    margin-left: 1.5rem;

}

.contact_right .contact_right1 {
    margin-bottom: 1rem;
    margin-left: 1.5rem;
    ;

}

.contact_right1 h4 {
    margin-bottom: 0.5rem;
}

.iletisim i {
    font-size: 24px;

}

.contact_right h4 {
    font-size: 18px;
    margin-bottom: 0.5rem;
    font-weight: 500;
    line-height: 1.2;
}

.contact_right a {
    font-size: 16px;
    color: #8492a6;
    font-weight: 200;
    font-family: "Roboto Slab", sans-serif;

}


.lastsection {
    background-color: #202942;
}

.lastbox {
    justify-content: space-between;
}

.lastbox i {
    color: rgb(187, 18, 18);
    margin-left: 2px;
    margin-right: 2px;
}

.lastbox p {
    margin-top: 20px;
}

<<<<<<< Updated upstream



@media (max-width: 768px) {
    .header_container {
        flex-direction: column;
        align-items: center;

    }


    .header {
        background-color: #564d4d;
        opacity: 0.9;
    }

    .ustsatir {
        justify-content: center;
        margin-left: auto;
        margin-right: auto;
        margin-top: 0px;
        line-height: 0px;

    }


    .nav {
        font-size: 10px;
    }

    .social {
        padding: 0px;

    }

    .brand_box {
        height: 35px;
    }








    .home h1 {
        font-size: 34px;

    }

    .firstparagraph {
        font-size: 14px;

    }

    .button {
        background-color: #202942;
        color: #e04000;
        font-size: 12px;

    }

    .story,
    .services,
    .feature,
    .blog,
    .contact {
        flex-direction: column;
        align-items: center;

    }

    h2 {
        text-align: center;
    }

    h3 {
        text-align: center;
    }

    .other_paragraph {
        letter-spacing: 0px;
        text-align: center;

    }

    .story_right .button_box {
        text-align: center;
    }

    .story_photo,
    .story_right,
    .feature_box {
        width: 75%;
        text-align: center;
    }

    .portfolio_box {
        width: 50%;
    }

    .section6 h2 {

        font-size: 22px;
    }

    .plan_box,
    .blog_box {
        width: 75%;

    }

    .plan {
        flex-direction: column;
        align-items: center;

    }




    .story_right .button {
        text-align: center;
    }


    .team_box {
        width: 50%;
        text-align: center;
    }





    .brand_box {
        width: 50%;
        justify-content: center;

    }

    .contact_right,
    .iletisim {
        text-align: center;
        flex-direction: column;
        align-items: center;
    }

    .process_header p {
        margin-left: 100px;
        margin-right: 100px;

    }

    .portfolio_header p {
        margin-left: 100px;
        margin-right: 100px;

    }

    .plans_header p {
        margin-left: 100px;
        margin-right: 100px;

    }














}
=======
>>>>>>> Stashed changes
